<head>
  <style> body { margin: 0; } </style>

  <script src="https://unpkg.com/three"></script>
  <script src="https://unpkg.com/3d-force-graph-vr"></script>
  <script>
    const render_img = ({id: img, desc, val, type}) => {
      let imgTexture, material, scale;

      if (type == 'party') {
        imgTexture = new THREE.TextureLoader().load(`/photos/parties/${desc.toLowerCase()}.png`);
        material = new THREE.SpriteMaterial({ map: imgTexture });
        scale = desc.toLowerCase() == 'camara' ? 60 : 25;
      } else {
        return null; // Render as sphere
      }

      const sprite = new THREE.Sprite(material);
      sprite.scale.set(scale, scale);
    
      return sprite;
      
    };

    let selected_node = null;
    const hover_node = node => selected_node = node;

    document.addEventListener('keyup', (event) => {
      if (event.code === 'Space' && selected_node != null) {
        window.location.href = `/deputies/${selected_node.id}.html`;
      }
    })
  </script>
</head> 

<body>
    <a-scene stats>
        <a-entity vive-controls="hand: left"></a-entity>
        <a-entity vive-controls="hand: right"></a-entity>

        <a-entity id="rig"
          movement-controls="fly: true"
          universal-controls="movementAcceleration: 5000">
            <a-camera wasd-controls="fly: true; acceleration: 5000" look-controls>
              <a-entity cursor="fuse: true; fuseTimeout: 500"
                position="0 0 -1"
                geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
                material="color: black; shader: flat">
            </a-camera>
        </a-entity>
        <a-sky color="#002"></a-sky>

        <a-entity forcegraph="json-url: /data/party_deputy_graph.json; node-auto-color-by: group; on-node-center-hover: hover_node; node-three-object: render_img; node-label: name;"></a-entity>
    </a-scene>
  
</body>
